.login-Google {
    font-size: 1.2rem;
}
.close-Button {
    font-size: 1.2rem;
    top: 1rem;
    right: 1rem;
    position: absolute;
}

.sign-Check {
    font-size: 1.2rem;
    color: antiquewhite;
}
