.Menu-Facebook {
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin-right: 1rem;
}

.Menu-Instagram {
    margin: 0;
    font-size: 22px;
    cursor: pointer;
    vertical-align: middle;
}

@media screen and (max-width: 1300px) {
    .Menu-Search {
        color: black;
        order: 3;
    }
}
