* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    background-color: var(main-background-color);
}
