.Menu-Bar {
    color: black;
}

.Menu-Search {
    margin: 0 8px 0 16px;
    font-size: 22px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .Menu-Search {
        font-size: 30px;
        color: black;
        order: 3;
    }
}
