.Menu-Bar {
    font-size: 30px;
}

.Menu-Search {
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
    vertical-align: middle;
}

.Down-Button {
    font-size: 1rem;
    color: gray;
}
@media screen and (max-width: 1300px) {
    .Menu-Search {
        color: black;
        order: 3;
    }
}
