.Menu-Bar {
    color: black;
}

.Menu-Search {
    margin: 0;
    font-size: 22px;
    cursor: pointer;
    vertical-align: middle;
}

@media screen and (max-width: 1280px) {
    .Menu-Search {
        color: black;
        order: 3;
    }
}
